{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="account_page_body text-center">
        {% if token_fail %}
            <h2 class="reset_password_heading">
                {% trans "Bad Token" %}
            </h2>
            {% url 'account_reset_password' as passwd_reset_url %}
            <p class="reset_password_tagline">
                {% blocktrans %}
                    The password reset link was invalid, possibly because it has already been used.  Please request a
                    <a href="{{ passwd_reset_url }}">new password reset</a>.
                {% endblocktrans %}
            </p>
        {% else %}
            <h2 class="reset_password_heading">
                Change Your Password
            </h2>

            <p class="reset_password_tagline">
                Please enter a new password for your Calvin account below:
            </p>
            <form method="POST" action="" class="form_reset_password" role="form">
                {% csrf_token %}
                {{ form.password1.errors }}
                {{ form.password2.errors }}
                <input type="password" name="password1" class="form-control" placeholder="Password" required autofocus>
                <input type="password" name="password2" class="form-control" placeholder="Confirm Password" required>

                <button class="reset_password_submit" type="submit"></button>
                <p class="submit_desc">Click to Change Password</p>
            </form>
        {% endif %}
    </div>
{% endblock %}
