<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lettoo微信平台</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .resetPasswordSuccess-header {
            padding: 25px 0;
            background-color: #dfe0e6;
        }

        .logo {
            font-size: 46px;
            font-weight: bold;
        }

        .logo a {
            color: #333;
            text-decoration: none;
        }

        .middle {
            font-family: "微软雅黑";
            display: table;
            width: auto;
            margin: 80px auto
        }
    </style>
</head>
<body>
<div class="resetPasswordSuccess-header">
    <div class="container text-center">
        <section class="logo">
            <a href="#" class="ng-binding">Lettoo微信平台</a>
        </section>
    </div>
</div>

<h3 class="middle">密码修改成功！<span id="time">5</span>秒后跳转到登录页面</h3>
<h4 class="middle">您也可以 <span><a href="http://121.40.126.220/" class="btn btn-primary" role="button">马上登录</a></span>
</h4>
<script>
    window.onload = function () {
        var timer = 5;
        var time = document.getElementById('time');

        function chat() {
            timer--;
            if (timer >= 0) {
                time.innerHTML = timer;
            }
            ;
        }

        interval = setInterval(chat, 1000);
        setTimeout(function () {
            location.href = "http://121.40.126.220/";
        }, 5000);
    };
</script>
</body>
</html>
